/* 
    Document   : css1
    Created on : 19-11-2013, 09:38:11 PM
    Author     : Ismael Valenzuela <iavalenzu@gmail.com>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

